.gradle
build/
gradle-app.setting
*.log
*.tmp
*.bak
*.lck
*.db
*_graphics.xml
~$*.*
classes/
deploy/
target/
reports/
bin
.classpath
.project
.settings
.springBeans
.pmd
.settings/
.externalToolBuilders/
.gradle/
/buildSrc/build
/build
uwmreport/hsqldb.*
.idea/*
*.iml
src/generated/java/
