.navbar-inverse, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a
	{
	/*background-color: #8d1111;*/
	background-color: #332e2e;	
	
	color: white;
}

.a-unstyledheader { color: #FFF; }
.a-unstyledheader:link { color: #FFF; }
.a-unstyledheader:visited { color: #FFF; }
.a-unstyledheader:hover { color: #000; }
.a-unstyledheader:active { color: #FFF; }
.navbar-inverse .a-unstyledheader { color: #FFF; }
.navbar-inverse .a-unstyledheader:link { color: #FFF; }
.navbar-inverse .a-unstyledheader:visited { color: #FFF; }
.navbar-inverse .a-unstyledheader:hover { color: #FFF; }
.navbar-inverse .a-unstyledheader:active { color: #FFF; }


.a-unstyled { color: #333; }
.a-unstyled:link { color: #333; }
.a-unstyled:visited { color: #333; }
.a-unstyled:hover { color: #000; }
.a-unstyled:active { color: #333; }
.navbar-inverse .a-unstyled { color: #969696; }
.navbar-inverse .a-unstyled:link { color: #969696; }
.navbar-inverse .a-unstyled:visited { color: #969696; }
.navbar-inverse .a-unstyled:hover { color: #FFF; }
.navbar-inverse .a-unstyled:active { color: #969696; }


.btn {
	opacity: 0.6;
	filter: alpha(opacity = 60); /* For IE8 and earlier */
}

.btn:hover {
	filter: none;
	opacity: 1;
}

.error {
	color: red;
}

body {
	padding-top: 0px;
	overflow-y: scroll;
}

#wrapper {
/*	min-height: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block; */
	
	
}

#main-wrapper {
	/*height: 100%;
	overflow-y: auto;
	padding: 50px 0 0px 0;
	*/
}

#main {
	position: relative;
	height: 100%;
	overflow-y: auto;
	padding: 0 15px;
}

#sidebar-wrapper {
	height: 95%;
	position: fixed;
	border-right: 1px solid gray;
	overflow-y: auto;
}

#sidebar {
	height: 100%;
	
}

#sidebar .list-group-item {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

	#main-wrapper {
		float: right;
	}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.table tbody tr > td.info {
  background-color: #d9edf7 !important;
}
