<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="ff1App" ng-controller="controller" ng-init="addEvent();">
<head th:replace="header :: head" />
<body>		
	<div th:replace="header :: header" />	
  
  <div class="panel panel-success">
		<div class="panel-heading text-center">Add Result</div>
  </div>
  
  <div class="panel panel-primary" ng-init="getAllDrivers();">
	<div class="panel-heading text-center">Qualifying Order</div>	
	<div class="panel-body">  
	
		<table class="table table-striped table-responsive">
			<tbody>
			  <tr>
			 	 <th>Round</th>
			 	 <td><input id="round" type="text" class="form-control" ng-model="event.round"/></td>
			  </tr>
			  <tr>
			 	 <th>Venue</th>
			 	 <td><input id="venue" type="text" class="form-control" ng-model="event.venue"/></td>
			  </tr>
			  <tr>
			 	 <th>Race Completed</th>
			 	 <td><select class="form-control" ng-model="event.raceComplete" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"></select></td>
			  </tr>
			</tbody>
		</table>
	
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Position</th>
	        <th>Driver</th>
	        <th>Classified</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(driver, position) in event.qualifyingOrder">
	        <td><input id="owner" type="text" class="form-control" ng-model="position.position"/></td>
	        <td>				
				{{driver}}
			</td>
	        <td>
		        <select class="form-control" ng-model="position.classified" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"></select>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
  </div>
	
	<div class="panel panel-info">
		<div class="panel-heading text-center">Race Order</div>	
		<div class="panel-body">  	
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Position</th>
	        <th>Driver</th>
	        <th>Classified</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(driver, position) in event.raceOrder">
	        <td><input id="owner" type="text" class="form-control" ng-model="position.position"/></td>
	        <td>				
				{{driver}}
			</td>
	        <td>
		        <select class="form-control" ng-model="position.classified" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"></select>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	 </div>
	  
	  <div class="panel panel-success">
		<div class="panel-heading text-center">Fastest Lap</div>	
		<div class="panel-body">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Fastest Lap</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td><select class="form-control" ng-model="event.fastestLapDriver.name" ng-options="driver.name as driver.name for driver in drivers"></select></td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-warning">
		<div class="panel-heading text-center">Remarks</div>	
		<div class="panel-body">
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Remarks</th>
	        <th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="remark in event.remarks track by $index">
	        <td><input type="text" class="form-control" ng-model="remark" ng-blur="updateRemark($index, remark);"/></td>
	        <td><button type="button" class="btn btn-danger" ng-click="deleteRemark($index);">Delete</button></td>
	      </tr>	      
	    </tbody>
	    <button type="button" class="btn btn-danger" ng-click="addRemark();">Add Remark</button>
	  </table>
	  </div>
	  </div>
	  <button type="button" class="btn btn-success" ng-click="saveResult(event);">Save</button>
	  <div id="spinner" class="spinner-loader pull-right">Updating...</div>
	  {{status}}
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
