<!DOCTYPE html>
<html>
<head th:replace="header :: head" />

<body>
<div th:replace="header :: header"/>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>An Error Has Occurred <span th:if="${code}"> (Code: <span th:text="${code}">code</span>)</span></span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <p th:text="${message}">msg</p>
                    <p th:if="${returnLocation}"><a th:href="@{${returnLocation}}">Click here</a> to return.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: footer"/>
</body>
</html>