<!DOCTYPE html>
<html>


<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/css/loading-bar.min.css}" type="text/css" />
<link rel="shortcut icon" th:href="@{/image/favicon.ico}" />

<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>
<script th:src="@{/js/loading-bar.min.js}"></script>

<title>Fantasy F1 League</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>

<body>

<nav class="navbar navbar-default" th:fragment="header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" th:href="@{/}"><img style="max-height: 30px;" th:src="@{/image/f1.jpg}" alt="F1 Logo"/></a>
    </div>
    <div class="navbar-brand"><a class="a-unstyled" th:href="@{/}">Fantasy F1</a></div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login<span class="sr-only">(current)</span></a></li>
        <li><a th:href="@{/rules}">Rules</a></li>
        <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Create Team</a></li>
        <li sec:authorize="hasRole(@environment.getProperty('auth.admin-role'))"><a th:href="@{/addresult}">Add Result</a></li>        
        <li sec:authorize="hasRole(@environment.getProperty('auth.admin-role'))" ng-click="refreshAllResults();"><a href="#">Refetch All Reuslts</a></li>
        <li sec:authorize="hasRole(@environment.getProperty('auth.admin-role'))"><a th:href="@{/components}">League Components</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name">Bob</span><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li sec:authorize="hasRole(@environment.getProperty('auth.myaccount-role'))"><a th:href="@{/myaccount}">My Team</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</li>
		</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	
</body>
</html>
