<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>	
	<nav class="navbar navbar-inverse" th:fragment="header">		
			<div class="navbar-header">
			   	<div class="navbar-brand">
			   		<div class="col-xs-6">			   			
				   		<img style="max-height: 30px;" th:src="@{/image/f1.jpg}" alt="F1 Logo"/>
				   		<a class="a-unstyledheader text-left" th:href="@{/}">
				   			<span style="margin-left: 15px;">Fantasy F1 League</span>
			   			</a>
		   			</div>
		   			<div class="col-xs-6">
		   				<a th:href="@{/login}" class="text-right a-unstyledheader"><span style="margin-left: 15px;">Admin Login</span></a>
		   			</div>	
		   		</div>
   			</div>
			<div sec:authorize="isAuthenticated()">
				<div  class="collapse navbar-collapse" id="myNavbar" th:fragment="logoutPanel">
				Active Profiles:
				<span th:each="profile : ${@environment.getActiveProfiles()}"
       th:text="${profile}">An active profile</span>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span sec:authentication="name">Bob</span><b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/logout}">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
	</nav>
	
	
	
	
</body>
</html>
