<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>Fantasy F1 League</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="ff1App" ng-controller="controller" ng-init="getSeasonStarted();">		
	<div th:replace="header :: header" />
	<div id="leagueSpinner" class="spinner-loader pull-right">Loading...</div>
	<!--div sec:authorize="isAuthenticated()">Authorities: <span sec:authentication="principal.authorities">authorities</span></div-->
	<div class="panel panel-primary" ng-init="getLeagueTable();">
	<div class="panel-heading text-center">League Table</div>	
	<div class="panel-body">
		<h4 class="text-info text-center" ng-if="!seasonStarted">Team components will be shown once the registration cut-off has passed</h4>
		<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th class="text-center">Position</th>
	        <th>Team Name</th>
	        <th class="text-center">Owner</th>
	        <th class="text-center">Driver 1</th>
	        <th class="text-center">Driver 2</th>
	        <th class="text-center">Car</th>
	        <th class="text-center">Engine</th>
	        <th class="text-center">Cost</th>
	        <th class="text-center">Last Race</th>
	        <th class="text-center">Overall</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr class="warning">
	      	<td class="text-center">N/A</td>
	      	<th colspan="2">{{bestTheoreticalTeam.name}}</th>
	      	<td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(bestTheoreticalTeam.drivers[0].name)">{{bestTheoreticalTeam.drivers[0].name}}</a></td>
	      	<td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(bestTheoreticalTeam.drivers[1].name)">{{bestTheoreticalTeam.drivers[1].name}}</a></td>
	      	<td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#carModal" ng-click="getCar(bestTheoreticalTeam.car.name)">{{bestTheoreticalTeam.car.name}}</a></td>
	        <td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#engineModal" ng-click="getEngine(bestTheoreticalTeam.engine.name)">{{bestTheoreticalTeam.engine.name}}</a></td>
	        <td class="text-center">&#163;{{bestTheoreticalTeam.drivers[0].price + bestTheoreticalTeam.drivers[1].price + bestTheoreticalTeam.car.price + bestTheoreticalTeam.engine.price}}m</td>
	        <td></td>
	        <td class="text-center">{{bestTheoreticalTeam.points}}</td>
	      </tr>
	      <tr ng-repeat="team in teams">
	      	<td class="text-center">{{$index + 1}}</td>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#teamModal" ng-click="getTeam(team.id)">{{team.name}}</a></td>
	        <td class="text-center">{{team.owner}}</td>
	        <td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(team.drivers[0].name)">{{team.drivers[0].name}}</a></td>
	        <td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(team.drivers[1].name)">{{team.drivers[1].name}}</a></td>	        
	        <td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#carModal" ng-click="getCar(team.car.name)">{{team.car.name}}</a></td>
	        <td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#engineModal" ng-click="getEngine(team.engine.name)">{{team.engine.name}}</a></td>
	        <td class="text-center">&#163;{{team.drivers[0].price + team.drivers[1].price + team.car.price + team.engine.price}}m</td>
	        <td class="text-center">{{team.pointsPerEvent[getLength(team.pointsPerEvent)]}}</td>
	        <td class="text-center">{{team.totalPoints}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
  </div>
  
  <div id="raceSpinner" class="spinner-loader pull-right">Loading...</div>
  <div class="panel panel-info">
	<div class="panel-heading text-center">Race Results</div>
	<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="text-center">Round</th>
	        <th class="text-center">Circuit</th>
	        <th>Remarks</th>
	        <th>Race Complete</th>
	        <th class="text-center">Fastest Lap</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="event in events">
	        <td class="text-center">{{event.round}}</td>
	        <td class="text-center"><a class="a-unstyled" th:href="@{/race#?round={{event.round}}}">{{event.venue}}</a></td>
	        <td><a class="a-unstyled text-centre" href="#" ng-if="event.remarks.length > 0" data-toggle="modal" data-target="#remarksModal" ng-click="getEvent(event.round)">
	        	<span class="glyphicon glyphicon-list-alt"/>
	        	</a>
	        </td>
	        <td>
	        	<span ng-if="event.raceComplete" class="glyphicon glyphicon-ok"></span>
	        	<span ng-if="!event.raceComplete" class="glyphicon glyphicon-remove"></span>
	        </td>
	        <td class="text-center"><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(event.fastestLapDriver.name)">{{event.fastestLapDriver.name}}</a></td>
	      </tr>
	    </tbody>
	  </table>
	 </div>
  </div>
  
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
