<!DOCTYPE html>
<html>
<head>
<title>LV= UMe Report Viewer</title>
<base href="/umereport/" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
    
    <style type="text/css" media="print">
    	#wrapper {
    	}
        #main-wrapper {
        width: 100%;
            }
           #sidebar-wrapper {
position: absolute; 
  left: -999em;
  	visibility: hidden;
  	height: 1px;
  	overflow: hidden;
  	widthL 1px;
             	}
    </style>
    
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if (window.location.href != url) {
		window.location.href = url;
	}
</script>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-cookies.js"></script>

<script src="js/controller.js"></script>
<link href="css/styles.css" rel="stylesheet" />
<link rel="stylesheet" href="css/spinner.css" type="text/css" />
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="myApp" ng-init="search();"
		ng-controller="controller">

	<div id="wrapper">
		<div th:replace="header :: header" />
		<div id="spinner" class="spinner-loader pull-right">Loading...</div>
		<div id="sidebar-wrapper" class="col-xs-4">
			<div id="sidebar">
				<div class="table-responsive">
					Ready: {{ready}} - Reserved: {{reserved}} - Complete: {{completed}}					
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>SPRN</th>
								<th>Submit Date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="!r.completedBy" ng-repeat="r in reports" ng-click="open(r.id)">
								<td id="sprn{{r.id}}">{{r.serviceProviderReferenceNumber}}</td>
								<td style="white-space: nowrap;">{{r.submitTime}}</td>
								<td style="text-align: right; width: 30%; white-space: nowrap;"><span
									ng-if="r.reservedBy"><span style="font-size: x-small;">Reserved
											by {{r.reservedBy}}</span> <a href='#' style="color: red;"><span
											id="cancel{{currentReport}}"
											class="glyphicon glyphicon-remove-sign"
											ng-click="cancel(r.id)"></span></a> </span> <span ng-if="r.completedBy">
										<span style="font-size: x-small;">Completed by
											{{r.completedBy}}</span> <span class="glyphicon glyphicon-ok"
										style="color: green;"></span>
								</span></td>
							</tr>
							<tr ng-repeat="r in completedReports" ng-click="open(r.id)">
								<td id="sprn{{r.id}}">{{r.serviceProviderReferenceNumber}}</td>
								<td>{{r.submitTime}}</td>
								<td style="text-align: right; width: 30%; white-space: nowrap;"><span
									ng-if="r.reservedBy"><span style="font-size: x-small;">Reserved
											by {{r.reservedBy}}</span> <a href='#' style="color: red;"><span
											id="cancel{{currentReport}}"
											class="glyphicon glyphicon-remove-sign"
											ng-click="cancel(r.id)"></span></a> </span> <span ng-if="r.completedBy">
										<span style="font-size: x-small;">Completed by
											{{r.completedBy}}</span> <span class="glyphicon glyphicon-ok"
										style="color: green;"></span>
								</span></td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="main-wrapper" class="col-xs-8 " style="padding-left: 20px; display: none;">
			<br/>
			<button onclick="if(hidden) {$(this).text('Hide'); $('#sidebar-wrapper').show(); $('#main-wrapper').removeClass('col-xs-12');$('#main-wrapper').addClass('col-xs-8'); hidden = false;} else { $(this).text('Show'); $('#sidebar-wrapper').hide(); $('#main-wrapper').removeClass('col-xs-8');$('#main-wrapper').addClass('col-xs-12'); hidden=true; }"
					class="btn btn-default btn-xs">Hide</button>
			<span
				style="float: right; padding-right: 10px;">
					<a href="#"  data-toggle="modal"
				data-target="#myModal" title="XML" ng-click="getXml()">View XML</a> 
				<button ng-if="!report.reservedBy &amp;&amp; !report.completedBy"
					id="reserve{{report.id}}" class="btn btn-success btn-md"
					ng-click="reserve(report.id)">Reserve</button>
				<button ng-click="complete(report.id)" ng-if="report.reservedByUser" id="complete{{report.id}}"
					class="btn btn-danger btn-md" >Complete</button>
				
			</span>
			<div th:replace="report :: report"></div>
		</div>
	</div>
	<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">{{report.serviceProviderReferenceNumber}}</h4>
						</div>
						<div class="modal-body">
							<div style="white-space: pre;">{{report.xml}}</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-primary btn-sm"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
</body>
</html>