<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

<!-- Team Modal -->
  <div class="modal fade" id="teamModal" role="dialog" th:fragment="modals">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{team.name}}</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-primary">
				<div class="panel-heading">{{team.name}}</div>	
				<div class="panel-body">
				<table class="table table-striped">	
				    <tbody>
				      <tr>
				      	<th>Name</th>
				        <td>{{team.name}}</td>
				      </tr>
				      <tr>
				        <th>Owner</th>
				        <td>{{team.owner}}</td>
				      </tr>				      
				      <tr ng-repeat="driver in team.drivers">
					    <th>Driver {{$index+1}}</th>
					    <td>{{driver.name}}</td>
				      </tr>
				      <tr>
				      	<th>Car</th>
				        <td>{{team.car.name}}</td>
				      </tr>
				      <tr>
				      	<th>Engine</th>
				        <td>{{team.engine.name}}</td>
				      </tr>
				      <tr>
				      	<th>Points</th>
				        <td>{{team.totalPoints}}</td>
				      </tr>
				      <tr>
				      	<th>Price</th>
				        <td>&#163;{{team.drivers[0].price + team.drivers[1].price + team.car.price + team.engine.price}}m</td>
				      </tr>				
				    </tbody>
				 </table>
				 </div>
				 </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary btn-sm"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>

<!-- Driver Modal -->
  <div class="modal fade" id="driverModal" role="dialog" th:fragment="modals">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{driver.name}}</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
				<div class="panel-heading">{{driver.name}}</div>	
				<div class="panel-body">
				<table class="table table-striped">				
					<thead>
				      <tr>
				        <th>Name</th>
				        <th>Car</th>
				        <th>Fastest Laps</th>
				        <th>Points</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>{{driver.name}}</td>
				        <td>{{driver.car.name}}</td>
				        <td>{{driver.fastestLaps}}</td>
				        <td>{{driver.totalPoints}}</td>
				        <td>&#163;{{driver.price}}m</td>
				      </tr>				
				    </tbody>
				 </table>
				 </div></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary btn-sm"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>
  
  <!-- Car Modal -->
  <div class="modal fade" id="carModal" role="dialog" th:fragment="modals">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{car.name}}</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
				<div class="panel-heading">{{car.name}}</div>	
				<div class="panel-body">
				<table class="table table-striped">				
					<thead>
				      <tr>
				        <th>Name</th>
				        <th>Engine</th>
				        <th>Points</th>
				        <th>Finishing Bonuses</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>{{car.name}}</td>
				        <td>{{car.engine.name}}</td>
				        <td>{{car.totalPoints}}</td>
				        <td>{{car.bothCarsFinishBonuses}}</td>
				        <td>&#163;{{car.price}}m</td>
				      </tr>				
				    </tbody>
				 </table></div></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary btn-sm"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>
  
  <!-- Engine Modal -->
  <div class="modal fade" id="engineModal" role="dialog" th:fragment="modals">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{engine.name}}</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
				<div class="panel-heading">{{engine.name}}</div>	
				<div class="panel-body">
				<table class="table table-striped">				
					<thead>
				      <tr>
				        <th>Name</th>
				        <th>Points</th>
				        <th>Price</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td>{{engine.name}}</td>
				        <td>{{engine.totalPoints}}</td>
				        <td>&#163;{{engine.price}}m</td>
				      </tr>				
				    </tbody>
				 </table>
				 </div>
				 </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary btn-sm"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>

  <!-- Remarks Modal -->
  <div class="modal fade" id="remarksModal" role="dialog" th:fragment="modals">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Remarks for {{event.venue}}</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
				<div class="panel-heading">{{event.venue}} Remarks</div>	
				<div class="panel-body">
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Remarks</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="remark in event.remarks">
				        <td>{{remark}}</td>
				      </tr>
				    </tbody>
				 </table>
				 </div>
				 </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary btn-sm"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>
  
</body>
</html>