<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

  <!-- Remarks Modal -->
  <div class="modal fade" id="myModal" role="dialog" th:fragment="modals">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Remarks for {{event.venue}}</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>Remarks</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="remark in event.remarks">
				        <td>{{remark}}</td>
				      </tr>
				    </tbody>
				 </table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-primary btn-sm"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
  </div>
  
</body>
</html>