<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>Fantasy F1 League - My Account</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="ff1App" ng-controller="controller">		
	<div th:replace="header :: header" />
	<div id="spinner" class="spinner-loader pull-right">Loading...</div>
	
	<div class="panel panel-primary" ng-init="myTeam();">
	<div class="panel-heading">My Account</div>	
	<div class="panel-body">		
		<div class="row">
			<label class="col-xs-1" for="owner">Name</label>
			<div class="col-xs-2"><input id="owner" type="text" class="form-control" ng-model="team.owner"/></div>
  	    </div>
		<div class="row">
			<label class="col-xs-1" for="email">E-Mail</label>
			<div class="col-xs-2"><input id="email" type="text" class="form-control" ng-model="team.email"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-1" for="password">Password</label>
			<div class="col-xs-2"><input id="password" type="password" class="form-control" ng-model="team.password"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-1" for="confirmPassword">Confirm Password</label>
			<div class="col-xs-2"><input id="confirmPassword" type="password" class="form-control"/></div>
  	    </div>
	  </div>
  </div>
  
  <div class="panel panel-info">
	<div class="panel-heading">My Team</div>	
	<div class="panel-body">
		<div class="row">
			<label class="col-xs-1" for="name">Team Name</label>
			<div class="col-xs-2"><input id="name" type="text" class="form-control" ng-model="team.name"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-1" for="driver1">Driver 1</label>
			<div class="col-xs-2"><input id="driver1" type="text" class="form-control" ng-model="team.drivers[0].name"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-1" for="driver2">Driver 2</label>
			<div class="col-xs-2"><input id="driver2" type="text" class="form-control" ng-model="team.drivers[1].name"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-1" for="car">Car</label>
			<div class="col-xs-2"><input id="car" type="text" class="form-control" ng-model="team.car.name"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-1" for="engine">Engine</label>
			<div class="col-xs-2"><input id="engine" type="text" class="form-control" ng-model="team.engine.name"/></div>
  	    </div>
	  </div>
  </div>
  
  <button type="button" class="btn btn-success" ng-click="saveMyTeam(team);">Save</button>
  {{status}}
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
