<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>Fantasy F1 League - My Account</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="ff1App" ng-controller="controller">		
	<div th:replace="header :: header" />
	<div id="spinner" class="spinner-loader pull-right">Loading...</div>
	
	<div class="panel panel-primary" ng-init="myTeam();">
	<div class="panel-heading">My Account</div>	
	<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Owner</th>
	        <th>Email</th>
	        <th>Password</th>
	        <th>Confirm Password</th>>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{team.owner}}</td>
	        <td>{{team.email}}</td>
	        <td>{{team.password}}</td>
	        <td>{{team.password}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
  </div>
  
  <div class="panel panel-primary">
	<div class="panel-heading">My Team</div>	
	<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Team Name</th>
	        <th>Driver 1</th>
	        <th>Driver 2</th>
	        <th>Car</th>
	        <th>Engine</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#teamModal" ng-click="getTeam(team.id)">{{team.name}}</a></td>	       
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(team.drivers[0].name)">{{team.drivers[0].name}}</a></td>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(team.drivers[1].name)">{{team.drivers[1].name}}</a></td>	        
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#carModal" ng-click="getCar(team.car.name)">{{team.car.name}}</a></td>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#engineModal" ng-click="getEngine(team.engine.name)">{{team.engine.name}}</a></td>	        
	      </tr>
	    </tbody>
	  </table>
	  </div>
  </div>
  
  <button type="button" class="btn btn-success" ng-click="saveMyTeam(team);">Save</button>
  {{status}}
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
