<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>Fantasy F1 League - My Account</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="ff1App" ng-controller="controller">		
	<div th:replace="header :: header" />
		
	<div class="panel panel-primary" ng-init="myTeam();">
	<div class="panel-heading">My Account</div>	
	<div class="panel-body form-group">		
		<div class="row">
			<label class="col-xs-2" for="owner">Name</label>
			<div class="col-xs-4"><input id="owner" type="text" class="form-control" ng-model="team.owner"/></div>
  	    </div>
		<div class="row">
			<label class="col-xs-2" for="email">E-Mail</label>
			<div class="col-xs-4"><input id="email" type="text" class="form-control" ng-model="team.email"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-2" for="password">Password</label>
			<div class="col-xs-4"><input id="password" type="password" class="form-control" ng-model="team.password"/></div>
  	    </div>
  	    <div class="row">
			<label class="col-xs-2" for="confirmPassword">Confirm Password</label>
			<div class="col-xs-4"><input id="confirmPassword" type="password" class="form-control" ng-model="team.confirmPassword"/></div>
  	    </div>
	  </div>
  </div>
  
  <form role="form">
	  <div class="panel panel-info">
		<div class="panel-heading">My Team</div>
		<div class="panel-body form-group">
			<div class="row">
				<label class="col-xs-2" for="name">Name</label>
				<div class="col-xs-4">
					<input id="name" type="text" class="form-control" ng-model="team.name"/>
				</div>
	  	    </div>
	  	    <div class="row" ng-init="getDrivers();">
				<label class="col-xs-2" for="driver1">Driver 1</label>
				<div class="col-xs-4">
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="driverDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    {{team.drivers[0].name}}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="driverDropdown">
					  <table class="table table-striped table-responsive">
					    <thead>
					      <tr>
					        <th>Driver</th>
					        <th>Price</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="driver in drivers | orderBy:'-price'">
					        <td>					        	
					        	<a href="#" class="a-unstyled" ng-click="team.drivers[0] = driver;">{{driver.name}}</a>
					        	<span ng-if="team.drivers[0].name==driver.name">&nbsp;<span class="glyphicon glyphicon-hand-left"></span></span>					        	
					        </td>
					        <td>{{driver.price}}</td>
					      </tr>
					    </tbody>
					    </table>
					  </ul>
					</div>
				</div>
				<div class="col-xs-1">
				&#163;{{team.drivers[0].price}}m
				</div>
	  	    </div>
	  	    <div class="row">
				<label class="col-xs-2" for="driver2">Driver 2</label>
				<div class="col-xs-4">					
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="driverDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    {{team.drivers[1].name}}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="driverDropdown">
					  <table class="table table-striped table-responsive">
					    <thead>
					      <tr>
					        <th>Driver</th>
					        <th>Price</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="driver in drivers | orderBy:'-price'">
					        <td>					        	
					        	<a href="#" class="a-unstyled" ng-click="team.drivers[1] = driver;">{{driver.name}}</a>
					        	<span ng-if="team.drivers[1].name==driver.name">&nbsp;<span class="glyphicon glyphicon-hand-left"></span></span>					        	
					        </td>
					        <td>{{driver.price}}</td>
					      </tr>
					    </tbody>
					    </table>
					  </ul>
					</div>
				</div>
	  	    </div>
	  	    <div class="row" ng-init="getCars();">
				<label class="col-xs-2" for="car">Car</label>
				<div class="col-xs-4">					
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="carDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    {{team.car.name}}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="carDropdown">
					  <table class="table table-striped table-responsive">
					    <thead>
					      <tr>
					        <th>Car</th>
					        <th>Price</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="car in cars | orderBy:'-price'">
					        <td>					        	
					        	<a href="#" class="a-unstyled" ng-click="team.car = car;">{{car.name}}</a>
					        	<span ng-if="team.car.name==car.name">&nbsp;<span class="glyphicon glyphicon-hand-left"></span></span>					        	
					        </td>
					        <td>{{car.price}}</td>
					      </tr>
					    </tbody>
					    </table>
					  </ul>
					</div>
				</div>
	  	    </div>
	  	    <div class="row" ng-init="getEngines();">
				<label class="col-xs-2" for="engine">Engine</label>
				<div class="col-xs-4">
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="engineDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    {{team.engine.name}}
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="engineDropdown">
					  <table class="table table-striped table-responsive">
					    <thead>
					      <tr>
					        <th>Engine</th>
					        <th>Price</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="engine in engines | orderBy:'-price'">
					        <td>					        	
					        	<a href="#" class="a-unstyled" ng-click="team.engine = engine;">{{engine.name}}</a>
					        	<span ng-if="team.engine.name==engine.name">&nbsp;<span class="glyphicon glyphicon-hand-left"></span></span>					        	
					        </td>
					        <td>{{engine.price}}</td>
					      </tr>
					    </tbody>
					    </table>
					  </ul>
					</div>
				</div>
	  	    </div>
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="saveMyTeam(team);">Submit</button>
		  {{status}}		  
		  <div id="spinner" class="spinner-loader pull-right">Loading...</div>
	  </div>
  </form>
  
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
