<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>Fantasy F1 League</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="ff1App" ng-controller="controller">		
	<div th:replace="header :: header" />
	<div id="spinner" class="spinner-loader pull-right">Loading...</div>
	
  <div ng-init="getUnspecifiedEvent();">{{event.venue}}
  Qualifying
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Position</th>
	        <th>Driver</th>
	        <th>Classified</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(driver, position) in event.qualifyingOrder">
	        <td>{{position.position}}</td>
	        <td>{{driver}}</td>
	        <td>{{position.classified}}</td>
	      </tr>
	    </tbody>
	  </table>
Race
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Position</th>
	        <th>Driver</th>
	        <th>Classified</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(driver, position) in event.raceOrder">
	        <td>{{position.position}}</td>
	        <td>{{driver}}</td>
	        <td>{{position.classified}}</td>
	      </tr>
	    </tbody>
	  </table>
	  
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Remarks</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Fastest Lap: {{event.fastestLapDriver.name}}</td>
	      </tr>
	      <tr ng-repeat="remark in event.remarks">
	        <td>{{remark}}</td>
	      </tr>
	    </tbody>
	  </table>
  </div>
  
  
  
  <div th:replace="footer :: footer" />
</body>
</html>
