<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="ff1App" ng-controller="controller" ng-init="getUnspecifiedEvent();">
<head th:replace="header :: head" />
<body>		
	<div th:replace="header :: header" />
	<div id="spinner" class="spinner-loader pull-right">Loading...</div>
	<div class="panel panel-success">
		<div class="panel-heading">{{event.venue}}</div>
		<a sec:authorize="hasRole(@environment.getProperty('auth.admin-role'))" class="panel-body a-unstyled" th:href="@{/editresult#?round={{event.round}}}"><button type="button" class="btn btn-danger">Edit Result</button></a>
  	</div>
  
  <div class="panel panel-primary">
	<div class="panel-heading text-center">Qualifying Order</div>	
	<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th class="text-center">Position</th>
	        <th>Driver</th>
	        <th>Classified</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(driver, position) in event.qualifyingOrder">
	        <td class="text-center">{{position.position}}</td>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriverByName(driver)">{{driver}}</a></td>
	        <td><span ng-if="position.classified" class="glyphicon glyphicon-ok"></span>
	        	<span ng-if="!position.classified" class="glyphicon glyphicon-remove"></span>
	        </td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading text-center">Race Order</div>	
		<div class="panel-body">  	
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th class="text-center">Position</th>
			        <th>Driver</th>
			        <th>Classified</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="(driver, position) in event.raceOrder">
			        <td class="text-center">{{position.position}}</td>
			        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriverByName(driver)">{{driver}}</a></td>
			        <td><span ng-if="position.classified" class="glyphicon glyphicon-ok"></span>
	        			<span ng-if="!position.classified" class="glyphicon glyphicon-remove"></span>
	        	  	</td>
			      </tr>
			    </tbody>
		    </table>
		   </div>
		  </div>
	  
	  <div class="panel panel-success">
		<div class="panel-heading text-center">Fastest Lap</div>	
		<div class="panel-body">
	  	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Driver</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(event.fastestLapDriver.number)">{{event.fastestLapDriver.name}}</a></td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-warning">
		<div class="panel-heading text-center">Remarks</div>	
		<div class="panel-body">
	  
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Remarks</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="remark in event.remarks track by $index">
	        <td>{{remark}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-warning">
		<div class="panel-heading text-center">Points</div>	
		<div class="panel-body">
	  <table class="table table-striped" ng-init="getDrivers();">
	    <thead>
	      <tr>
	        <th>Driver</th>
	        <th class="text-center">Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="driver in drivers">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(driver.number)">{{driver.name}}</a></td>
	        <td class="text-center">{{driver.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  <table class="table table-striped" ng-init="getCars();">
	    <thead>
	      <tr>
	        <th>Car</th>
	        <th class="text-center">Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="car in cars">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#carModal" ng-click="getCar(car.name)">{{car.name}}</a></td>
	        <td class="text-center">{{car.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  <table class="table table-striped" ng-init="getEngines();">
	    <thead>
	      <tr>
	        <th>Engine</th>
	        <th class="text-center">Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="engine in engines">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#engineModal" ng-click="getEngine(engine.name)">{{engine.name}}</a></td>
	        <td class="text-center">{{engine.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  
	  <table class="table table-striped" ng-init="getTeams();">
	    <thead>
	      <tr>
	        <th>Team</th>
	        <th class="text-center">Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="team in teams">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#teamModal" ng-click="getTeam(team.id)">{{team.name}}</a></td>
	        <td class="text-center">{{team.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
  </div>
  
  <div class="panel panel-success">
		<div class="panel-heading text-center">{{event.venue}} Best Theoretical Team</div>	
		<div class="panel-body">
		<table class="table table-striped" ng-init="getBestTheoreticalTeamForRound();">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th class="text-center">Cost</th>
	        <th class="text-center">Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="driver in bestTheoreticalTeam.drivers">
	      	<td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(driver.number)">{{driver.name}}</a></td>
	      	<td class="text-center">&#163;{{driver.price}}m</td>
	      	<td class="text-center">{{driver.points}}</td>
	      </tr>
		  <tr>
	      	<td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#carModal" ng-click="getCar(bestTheoreticalTeam.car.name)">{{bestTheoreticalTeam.car.name}}</a></td>
	      	<td class="text-center">&#163;{{bestTheoreticalTeam.car.price}}m</td>
	      	<td class="text-center">{{bestTheoreticalTeam.car.points}}</td>
	      </tr>	      
		  <tr>
	      	<td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#engineModal" ng-click="getEngine(bestTheoreticalTeam.engine.name)">{{bestTheoreticalTeam.engine.name}}</a></td>
	      	<td class="text-center">&#163;{{bestTheoreticalTeam.engine.price}}m</td>
	      	<td class="text-center">{{bestTheoreticalTeam.engine.points}}</td>
	      </tr>
	      <tr>
	      	<th>Total Points</th>
	      	<th class="text-center">&#163;{{bestTheoreticalTeam.drivers[0].price + bestTheoreticalTeam.drivers[1].price + bestTheoreticalTeam.drivers[2].price + bestTheoreticalTeam.car.price + bestTheoreticalTeam.engine.price}}m</th>
	      	<th class="text-center">{{bestTheoreticalTeam.points}}</th>
	      </tr>
	    </tbody>
	  </table>
	  </div>
  </div>

  
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
