<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="ff1App" ng-controller="controller" ng-init="getUnspecifiedEvent();">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>{{event.venue}} Results</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body>		
	<div th:replace="header :: header" />
	<div id="spinner" class="spinner-loader pull-right">Loading...</div>
	<div class="panel panel-success">
		<div class="panel-heading">{{event.venue}}</div>
		<a sec:authorize="hasRole(@environment.getProperty('auth.admin-role'))" class="panel-body a-unstyled" th:href="@{/editresult#?round={{event.round}}}"><button type="button" class="btn btn-success">Edit Result</button></a>
  	</div>
  
  <div class="panel panel-primary">
	<div class="panel-heading">Qualifying Order</div>	
	<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Position</th>
	        <th>Driver</th>
	        <th>Classified</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="(driver, position) in event.qualifyingOrder">
	        <td>{{position.position}}</td>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(driver)">{{driver}}</a></td>
	        <td>{{position.classified}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">Race Order</div>	
		<div class="panel-body">  	
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Position</th>
			        <th>Driver</th>
			        <th>Classified</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="(driver, position) in event.raceOrder">
			        <td>{{position.position}}</td>
			        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(driver)">{{driver}}</a></td>
			        <td>{{position.classified}}</td>
			      </tr>
			    </tbody>
		    </table>
		   </div>
		  </div>
	  
	  <div class="panel panel-success">
		<div class="panel-heading">Fastest Lap</div>	
		<div class="panel-body">
	  	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Driver</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(event.fastestLapDriver.name)">{{event.fastestLapDriver.name}}</a></td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-warning">
		<div class="panel-heading">Remarks</div>	
		<div class="panel-body">
	  
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Remarks</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="remark in event.remarks">
	        <td>{{remark}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	  
	  <div class="panel panel-warning">
		<div class="panel-heading">Points</div>	
		<div class="panel-body">
	  <table class="table table-striped" ng-init="getDrivers();">
	    <thead>
	      <tr>
	        <th>Driver</th>
	        <th>Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="driver in drivers">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#driverModal" ng-click="getDriver(driver.name)">{{driver.name}}</a></td>
	        <td>{{driver.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  <table class="table table-striped" ng-init="getCars();">
	    <thead>
	      <tr>
	        <th>Car</th>
	        <th>Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="car in cars">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#carModal" ng-click="getCar(car.name)">{{car.name}}</a></td>
	        <td>{{car.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  <table class="table table-striped" ng-init="getEngines();">
	    <thead>
	      <tr>
	        <th>Engine</th>
	        <th>Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="engine in engines">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#engineModal" ng-click="getEngine(engine.name)">{{engine.name}}</a></td>
	        <td>{{engine.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  
	  <table class="table table-striped" ng-init="getTeams();">
	    <thead>
	      <tr>
	        <th>Team</th>
	        <th>Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="team in teams">
	        <td><a class="a-unstyled" href="#" data-toggle="modal" data-target="#teamModal" ng-click="getTeam(team.id)">{{team.name}}</a></td>
	        <td>{{team.pointsPerEvent[event.round]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>

  
  <div th:replace="modals :: modals" />
  
  <div th:replace="footer :: footer" />
</body>
</html>
