<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head" />
<body ng-app="ff1App" ng-controller="controller" ng-init="getSeasonStarted();getSeasonStartDate();">		
	<div th:replace="header :: header" />
	
	<div ng-if="!seasonStarted">
		<div th:replace="account :: account" />
	</div>
	
	<div ng-if="seasonStarted">
		<div class="panel panel-primary">
			<div class="panel-heading">The Season Has Alreary Started</div>	
			<div class="panel-body">
				<p class="text-danger">The season started on {{seasonStartDate|date:'mediumDate'}}</p>
				<p>Teams cannot be created once the season is underway</p>
			</div>
		</div>		
	</div>
	
	<div th:replace="footer :: footer" />
</body>
</html>
