<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="stylesheet" th:href="@{/css/spinner.css}" type="text/css" />
<script>
	// Weblogic doesn't add trailing / to URL and this breaks AngularJS.
	var url = window.location.href;
	url = url.replace(/\/?(\?|#|$)/, '/$1');
	if(window.location.href != url) {
		window.location.href = url;
	}
</script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/angular-cookies.js}"></script>
<script th:src="@{/js/ff1.js}"></script>

<title>Fantasy F1 League</title>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
	  	<script src="js/html5shiv.min.js"></script>
	  	<script src="js/respond.min.js"></script>
		<![endif]-->
</head>
<body ng-app="ff1App" ng-controller="controller">		
	<div th:replace="header :: header"/>	
	
	<div class="panel panel-primary" ng-init="getRules();getSeasonStartDate();">
	<div class="panel-heading text-center">Rules</div>	
	<div class="panel-body">
	<div class="col-xs-8">
		<div class="panel panel-info">
		<div class="panel-heading text-center">Teams</div>	
		<div class="panel-body">
		<table class="table table-striped">
			<tbody>
				<tr><td>Pick a team consisting of 2 drivers, 1 car, and 1 engine</td></tr>		
				<tr><td>The budget for each team is &#163;{{rules.budget}}m</td></tr>
				<tr><td>The window for entering a team closes on {{seasonStartDate|date:'mediumDate'}}</td></tr>
				<tr><td>After entering, you can modify your team (using the My Team page) until the entry window closes</td></tr>								
				<tr><td>You score a 'both cars finished' bonus if both of your cars are classified at the end of the race</td></tr>
				<tr><td>You score a 'fastest lap bonus' if either of your drivers set the fastest lap of the race</td></tr>
				<tr><td>You score (engine) points for every driver using your chosen engine</td></tr>
				<tr><td>You cannot pick the same driver twice</td></tr>
				<tr><td>Neither driver may use your chosen engine</td></tr>
				<tr><td>Your car may not use your chosen engine</td></tr>
				<tr><td>Drivers, Cars and Engines that are Not Classified do not score points for that session</td></tr>
			</tbody>
		</table>
		</div>
		</div>
	</div>
	<div class="col-xs-4">
		<div class="panel panel-info">
		<div class="panel-heading text-center">Bonuses</div>	
		<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th>Bonus Type</th>
	      	<th class="text-center">Points</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	      	<td>Both Cars Finish Bonus</td>
	      	<td class="text-center">{{rules.bothCarsFinishedBonus}}</td>
	      </tr>
	      <tr>
	      	<td>Fastest Lap Bonus</td>
	      	<td class="text-center">{{rules.fastestLapBonus}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	</div>
	</div>
	</div>
	
	<div class="row"></div>
	<div class="panel panel-primary">
	<div class="panel-heading text-center">Points Scoring</div>	
	<div class="panel-body">

	<div class="row"></div>
	<div class="col-xs-4">
		<div class="panel panel-info">
		<div class="panel-heading text-center">Drivers</div>	
		<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th class="text-center">Position</th>
	      	<th class="text-center">Qual Points</th>
	      	<th class="text-center">Race Points</th>
	      </tr>
	    </thead>
	    <tbody>	      
	      <tr ng-repeat="(position, points) in rules.driverQualPoints">
	      	<td class="text-center">{{position}}</td>
	      	<td class="text-center">{{points}}</td>
	      	<td class="text-center">{{rules.driverRacePoints[position]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	</div>
	
	<div class="col-xs-4">
		<div class="panel panel-info">
		<div class="panel-heading text-center">Cars</div>	
		<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th class="text-center">Position</th>
	      	<th class="text-center">Qual Points</th>
	      	<th class="text-center">Race Points</th>
	      </tr>
	    </thead>
	    <tbody>	      
	      <tr ng-repeat="(position, points) in rules.carQualPoints">
	      	<td class="text-center">{{position}}</td>
	      	<td class="text-center">{{points}}</td>
	      	<td class="text-center">{{rules.carRacePoints[position]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	</div>
	
	<div class="col-xs-4">
		<div class="panel panel-info">
		<div class="panel-heading text-center">Engines</div>	
		<div class="panel-body">
		<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th class="text-center">Position</th>
	      	<th class="text-center">Qual Points</th>
	      	<th class="text-center">Race Points</th>
	      </tr>
	    </thead>
	    <tbody>	      
	      <tr ng-repeat="(position, points) in rules.engineQualPoints">
	      	<td class="text-center">{{position}}</td>
	      	<td class="text-center">{{points}}</td>
	      	<td class="text-center">{{rules.engineRacePoints[position]}}</td>
	      </tr>
	    </tbody>
	  </table>
	  </div>
	  </div>
	</div>
	  
  </div>
  </div>
  
  <div th:replace="footer :: footer" />
</body>
</html>
