<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head" />
<body ng-app="ff1App" ng-controller="controller">		
	<div th:replace="header :: header"/>	
	
	<div class="panel panel-primary" ng-init="getStandinDrivers();getDriverNames();getMainDrivers();getCars();getRaceCalendar();">
	<div class="panel-heading text-center">Stand In Drivers</div>	
	<div class="panel-body">
		<div class="panel panel-info col-xs-6">
		<div class="panel-heading text-center">Drivers</div>	
		<div class="panel-body">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Name</th>
					<th>Number</th>
					<th>Car</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="driver in standinDrivers">
					<td><input type="text" class="form-control" ng-model="driver.name"/></td>
					<td><input type="number" class="form-control" ng-model="driver.number"/></td>
					<td>
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="carDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    {{driver.car.name}}
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="carDropdown">
						  <table class="table table-striped table-responsive">
						    <thead>
						      <tr>
						        <th>Car</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="car in cars | orderBy:'name'">
						        <td>					        	
						        	<a href="#" class="a-unstyled" ng-click="driver.car = car;">{{car.name}}</a>
						        	<span ng-if="driver.car.name==car.name">&nbsp;<span class="glyphicon glyphicon-hand-left"></span></span>					        	
						        </td>
						      </tr>
						    </tbody>
						    </table>
						  </ul>
						</div>
					</td>
					<td><button type="button" class="btn btn-warning" ng-click="storeStandinDriver(driver);">Edit Rounds</button>
						<button type="button" class="btn btn-danger" ng-click="deleteSingleDriver(driver);getStandinDrivers();">Delete</button></td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-danger" ng-click="addStandinDriver();">Add</button>		
		<div id="driversSpinner" style="display: none;" class="spinner-loader pull-right">Updating...</div>
	    {{driversStatus}}
		</div>
		</div>

		<div class="panel panel-info col-xs-6" ng-show="standInDriver">
		<div class="panel-heading text-center">Stand In Rounds</div>	
		<div class="panel-body">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Round</th>
					<th>Driver</th>
					<th>Action</th>
				</tr>
				<tr ng-repeat="(roundNum, driverNum) in standInDriver.standinRoundsDrivers">
					<td>{{raceCalendar[roundNum].grandPrixName}}</td>
					<td>{{driverNameMap[driverNum]}}</td>
					<td>
						<button type="button" class="btn btn-danger" ng-click="deleteStandinDriverRound(roundNum);">Delete</button>						
					</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
						  <label for="raceSelect">Race:</label>						  
						  <select class="form-control" id="raceSelect" ng-model="selectedRace" ng-options="race.grandPrixName for (raceId, race) in raceCalendar track by raceId"></select>
						</div>
					</td>
					<td>
						<div class="form-group">
						  <label for="driverSelect">Driver:</label>						  
						  <select class="form-control" id="driverSelect" ng-model="selectedDriver" ng-options="name for (number, name) in driverNameMap track by number"></select>
						</div>
					</td>
				</tr>
			</tbody>			
		</table>
		<button type="button" class="btn btn-success" ng-click="saveStandinDriver();">Save</button>
		<div id="spinner" class="spinner-loader pull-right">Updating...</div>
		{{status}}
		</div>
		</div>		
		
	</div>
	</div>

  <div th:replace="footer :: footer" />
</body>
</html>
